package config

// Gorm
const (
	Source         = "mysql"
	SourceUser     = ""
	SourcePassword = ""
	SourceHost     = "db"
	SourcePort     = "3306"
	SourceDataBase = "golang_aws_db"
)

// Test Gorm
const (
	TestSourceHost = "127.0.0.1"
	TestSourcePort = "3308" // This port is docker out port
)

// Redis
const (
	RedisHost     = "redis"
	RedisPassword = ""
	RedisPort     = 6379
)

// JWT
const (
	JWTttl       = 900
	JWTSecretKey = "learnGolangJWTToken"
)
