package config

// Gorm
const (
	Source         = "mysql"
	SourceUser     = ""
	SourcePassword = ""
	SourceHost     = "db"
	SourcePort     = "3306"
	SourceDataBase = "golang_aws_db"
)

// Test Gorm
const (
	TestSourceHost1 = "127.0.0.1"
	TestSourcePort1 = "3308" // 3308 This port is docker out port.
	TestSourceHost2 = "127.0.0.1"
	TestSourcePort2 = "6381" // 6381 This port is docker out port.
)

// Redis
const (
	RedisHost     = "redis"
	RedisPassword = ""
	RedisPort     = 6379
)

// JWT
const (
	JWTttl       = 900
	JWTSecretKey = "learnGolangJWTToken"
)
