package config

// Gorm
const (
	Source         = "mysql"
	SourceUser     = ""
	SourcePassword = ""
	SourceHost     = "db"
	SourcePort     = "3306"
	SourceDataBase = "golang_aws_db"
)

// Test Gorm
const (
	TestSourceHost1 = "127.0.0.1"
	TestSourcePort1 = "3306"
	TestSourceHost2 = "127.0.0.1"
	TestSourcePort2 = "6379"
)

// Redis
const (
	RedisHost     = "redis"
	RedisPassword = ""
	RedisPort     = "6379"
)

// JWT
const (
	JWTttl       = 900
	JWTSecretKey = "learnGolangJWTToken"
)

// AWS S3
const (
	AWS_REGION            = ""
	AWS_BUCKET            = ""
	AWS_ACCESS_KEY_ID     = ""
	AWS_SECRET_ACCESS_KEY = ""
)